html {
    background-color: rgb(219, 219, 219);
}

.App {
    font-family: sans-serif;
    text-align: center;
}
  
.flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 60px;
    border: 2px solid teal;
    background: rgb(217, 237, 237);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}